{% extends "EpsiPremierBundle::layout.html.twig" %}
{% block title %} {{ parent() }}  {% endblock %}
{% block contenu %}
    <section class="section-page-top set-bg">
        <img class="set-bg" src="{{asset('bundles/epsifirst/images/page-top-bg.jpg')}}" alt="">
        <div class="container text-white">
            <h3>Catégorie</h3>
        </div>
    </section>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 contact-text">
                    <h3>Ajout d'un mot </h3>
                </div>
                <div class="col-lg-8">
                    <form name="form" id="form" method="post" class="contact-form">
                        {{form_start(form)}}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.Libelle) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.Ajouter,{'attr': {'class':'site-btn'}}) }}
                            </div>
                                {{ message }}
                        </div>
                        {{ form_end(form)}}
                    </form>
                </div>
            </div>
        </div>
    </section>
{%endblock%}
